 html, body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
 }

 .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
 }

.page-title {
    display: flex;
    height: 40px;
    flex-direction:row;    
    justify-content: center;
    align-items: center;    
    color: #000    ;
    text-shadow: 2px 2px 0px wheat;
}

.NamePokemon-Search {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 15px;
}    

.ListPokemon {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 20px;
}

.pokemon-card {
    flex-basis: 30%;        
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 6px rgb(0, 0, 0,0.1);
    transition: transform 0.2s ease;
}

.title-name {
    font-weight: bold;
    text-transform: capitalize; 
    font-size: 1.2rem;
    color: #333;
}
.pokemon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

button {
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s, transform 0.1s;
}

#search {
    background-color: #333;
    color: white;
    border: none;
    padding: 2.5px 5px;
    border-radius: 5px;
    font-size: 1rem;
}

#search:hover {
    background-color: #000;
}


#search:active {
    transform: scale(0.95);
}


.button-learnMoves{
    background-color: #333;
    color: white;    
    border: 1px solid #000;
    border-radius: 5px;
    padding: 4px 8px;
    margin-top: 5px;
}

.button-learnMoves:hover {
    background-color: #000;
}

#pagePokemons{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    margin-top: 20px;
    transition: background-color 0.3s
}

.page-number-button{
    background-color: #333;
    color: white;
    border-radius: 50%;
    font-weight: bold;
}

.page-number-button:hover {
    background-color: #000;
}

.pokemon-card img {
    width: 110px;
    height: 110px;
    object-fit: contain;
    margin-bottom: 10px;
    cursor: pointer;
}



