.page-title {

    display: flex;
    height: 50px;
    flex-direction:row;    
    justify-content: center;
    align-items: center;    
}

.NamePokemon-Search {
    display: flex;
    justify-content: center;
    margin: 20px;

}    

#ListPokemon{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 20px;
}

.pokemon-card {
    flex-basis: 30%;        
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
}

#pagePokemons{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    margin-top: 20px;
    transition: background-color 0.3s
}
